<section data-ng-controller="ViewTripsController" class="trip_view" >
<div >
 <nav class="grey accent-1">
    <div class="nav-wrapper row">
   
      <form class="left col s6" style="margin-left: 20px;">
        <div class="input-field ">
          <input id="search" type="search" required placeholder="Search vehicleNo/DriverName/Trip">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>

<ul class="right ">
        <li data-ng-class="currpg == 'recent' ? 'active' : 'none' "><a data-ui-sref="trips"  href="#">Recent Trips</a></li>
        <li data-ng-class="currpg == 'live' ? 'active' : 'none' " ><a data-ui-sref="livetrips" href="#" class="btn btn-floating pulse grey darken-2"><i class="material-icons">room</i></a> </li>
        
      </ul>
    </div>
  </nav>
  </div>
<div class="row" style="padding-top: 20px;" >
		<div class="col s3" style="height: {{trp_height-40}}px; overflow-y: scroll;">
	<div class="page-heading ">Your Trip List</div>
	
	 <ul class="collection">

      <li class="collection-item" data-ng-repeat="trp in trips">
      <a href="#" data-ng-click="drawroute(trp)"> 
      <i class="material-icons md-36">local_shipping</i>
            <span>{{trp.name}} {{trp.schedule_date}} : {{trp.schedule_starttime}}</span>
            </a>
      </li>
      </ul>
      <div ng-show="trips.size > 0"> No trips recorded</div>
    </div>
    <div class="col s9 align-center">
   <div class="col s12 " ng-if="!ctrip">
    <h4 class="" ng-if="!ctrip">Your trip data </h4>
    <p>Please select your trip from list of trips to see routes and simulate the vehicle movement.</p>
    </div>
    <div class="col s4" ng-if="ctrip">
      <span class=" " >{{ctrip.name}} - {{ctrip.schedule_date}} : {{ctrip.schedule_starttime}} </span>
      
    </div>
      <div class="col s2" ng-if="ctrip"> Choose delay :  {{replay.duration}} milisec</div>

      <div action="#" class="col s4"  ng-if="ctrip">
 
    <p class="range-field">
      <input type="range" id="test5" data-ng-model="replay.duration" min="20" max="10000" />
    </p>
  </div>
 
    <div class="col s2" ng-if="ctrip">
       <a class="btn-floating btn-large waves-effect waves-light right" data-ng-click="moveMark(replay);"><i class="material-icons">{{replay.icon}}</i></a>
    </div>

<!-- <div nouislider ng-model="replay.duration" min="50" max="3000"></div> -->
    	 

    	 <leaflet  lf-center="center_trip" id="map_trips" event-broadcast="events" markers="markers" geojson="geojson" width="100%" height="{{trp_height -100 }}px"></leaflet>
    </div>

</div>



</section>